* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: Arial, sans-serif;
  background-image: none;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #990000;
  padding: 10px 20px;
  color: white;

}

.logo img {
  margin-left: 20px;
  height: 120px;
  width: 150px;
}

h2 {
  font-size: 3vw;
}

.nav-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.nav-buttons button {
  padding: 8px 18px;
  background: none;
  border: 2px solid white;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  font-size: 2vw;
  transition: 0.3s, color 0.3s;
}

.nav-buttons button:hover {
  background: white;
  color: #990000;
}


.main-content {
  padding: 20px;
  text-align: center;
  color: #000;
  background: white;
}

.main-content h2 {
  margin-bottom: 20px;
}

.grid-container {
  margin-top: 5vw;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.grid-item {
  width: 20vw;
  height: 8vw;
  background-color: #990000;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  color: white;
  font-weight: bold;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.grid-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .nav-buttons button {
    font-size: 12px;
    padding: 8px 15px;
  }

  .logo img {
    height: 40px;
  }
  .grid-item {
    width: 40vw;
    height: 20vw;
    margin: 20px;
    font-size: 12px;
  }
  .grid-container {
    display: inline-table;
  }
}
